# Cache files
__pycache__/
*cache*

# IDE-specific files (IntelliJ IDEA, PyCharm)
Q-Learning.iml
misc.xml
modules.xml
vcs.xml

# Egg info (Python package distribution)
src/qlearning.egg-info/

# Coverage reports and test artifacts
*coverage*
codecov*

# macOS system files
.DS_Store

# Build directories
build/

# OpenStreetMap data files
*.osm

# Ignore build artifacts
build/
install/
log/

# Poetry-related files
poetry.lock

